/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    padding: 10px 0;
    color: white;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#hero {
    text-align: center;
    background-color: #009688;
    color: white;
    padding: 60px 0;
}

#hero h1 {
    font-size: 3em;
}

#hero p {
    font-size: 1.2em;
}

section {
    padding: 50px 15%;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.2em;
}

ul li {
    margin: 10px 0;
}

.project {
    margin-bottom: 40px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
    font-size: 1.8em;
}

.project a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}

#contact a {
    color: #009688;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px 0;
}

